/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: black;
    font-size: 1em;
    line-height: 1.4;
}

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

header {
    border-bottom: 20px solid darkblue;
    background-color: lightslategrey;
    color: darkblue;
}

footer {
    border-top: 20px solid darkblue;
    background-color: lightslategrey;
    color: darkblue;
    padding: 20px 0;
}

main {
    padding: 30px 0;
    background-color: lightgrey;
}

main article h1 {
    font-size: 2em;
}

main header {
    border-bottom: 2px solid darkblue;
    background-color: lightgrey;
}
